---
import type { BlokContentVideo } from '@libs/space-blok'

export type Props = {
  content: BlokContentVideo
}
const { content } = Astro.props
---

<div>
  <iframe
    width="952"
    height="535.50"
    src={content.url}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="Embedded youtube"></iframe>
</div>
