---
import type { BlokContentList } from '@libs/space-blok'

import ContentRichText from './ContentRichText.astro'

export type Props = {
  content: BlokContentList
}

const { content } = Astro.props
---

<ul class="list-disc pl-5">
  {
    content.list.map((elements) => (
      <li>
        <ContentRichText elements={elements} />
      </li>
    ))
  }
</ul>
