---
import type { BlokContentCode } from '@libs/space-blok'
import { Code } from 'astro/components'

import theme from './assets/code-theme.json'
export type Props = {
  content: BlokContentCode
}

const { content } = Astro.props
---

<div class="@content:code mb-2">
  <Code
    code={content.code}
    lang={content.language as never}
    theme={theme as never}
  />
</div>
