@import './custom.css';
@import './content.css';
@import './menu.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-custom;
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-custom;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  @apply bg-not-green text-black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  @apply bg-black text-white;
}

a {
  @apply no-underline outline-none text-white whitespace-nowrap;
}

p a {
  @apply hover:before:text-not-pink hover:after:text-not-pink;
}

p a::before {
  @apply font-bold text-not-blue inline-block transition-transform content-['['];
}

p a::after {
  @apply font-bold text-not-blue inline-block transition-transform content-[']'];
}

p a:hover::before,
p a:active::before,
p a:focus::before {
  @apply -translate-x-1;
}

p a:hover::after,
p a:active::after,
p a:focus::after {
  @apply translate-x-1;
}

p {
  @apply leading-6 mb-5 empty:mb-0;
}
