@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-custom;
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-custom;
  }
}

* {
  box-sizing: border-box;
}

::selection {
  @apply bg-not-green text-black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  @apply bg-black text-white;
}

a {
  @apply no-underline outline-none text-white hover:underline underline-offset-8 decoration-not-blue decoration-2;
}

p a::before {
  content: '[';
  @apply font-bold text-not-blue inline-block;
}

p a::after {
  content: ']';
  @apply font-bold text-not-blue inline-block;
}

p a:hover::before {
  @apply -translate-x-1;
}

p a:hover::after {
  @apply translate-x-1;
}

p {
  @apply leading-6 mb-5;
}

p:after {
  content: '';
  display: inline-block;
  width: 0px;
}

details {
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary::before {
  content: '[';
}
details > summary::after {
  content: ']';
}
