---
import Section from '@components/section/Section.astro'
import SectionTitle from '@components/section/SectionTitle.astro'
import TimeTag from '@components/TimeTag.astro'
import {Image} from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
export type Props = {
  entry: CollectionEntry<'entries'>
}

const {entry} = Astro.props
const { Content } = await entry.render(); 

---

<Section>
    {
      entry.data.cover && (
        <Image
          src={entry.data.cover}
          format={'png'}
          alt=""
          height={635}
          width={952}
          class="rounded"
        />
      )
    }
    <p class="m-0 text-xs gap-2 flex flex-row">
      {entry.data.tags &&  <span>{entry.data.tags.join(', ')} </span> <span class="text-not-blue">|</span>}
      <TimeTag date={entry.data.publishDate || new Date()} />
    </p>
    <SectionTitle>{entry.data.title}</SectionTitle>
    <div class="@rich-content prose prose-invert max-w-full">
     <Content />
    </div>
  </Section>