---
import ContentRenderer from '@components/content-renderer/ContentRenderer.astro'
import Section from '@components/section/Section.astro'
import SectionTitle from '@components/section/SectionTitle.astro'
import { spaceBlokService } from '@services/space-blok-service'
const introBloks = await spaceBlokService.getIntro()
---

<Section>
  <SectionTitle>Intro</SectionTitle>
  <div>
    <ContentRenderer contents={introBloks} />
  </div>
</Section>
