---
import avatarImage from '@assets/images/taylordotcat.jpg'
import { Image } from '@astrojs/image/components'
---

<div
  class="overflow-hidden rounded-full h-32 w-32 border-4 border-not-gray border-opacity-90"
>
  <Image src={avatarImage} alt="Axel Taylor / taylordotcat avatar" />
</div>
