---
---

<div class="group flex flex-row">
  <button>&#123; menu &#125;</button>
  <ul class="group-hover:flex hidden flex-row">
    <li>Hello</li>
    <li>Hello</li>
    <li>Hello</li>
    <li>Hello</li>
  </ul>
</div>
