---
import { getCollection } from 'astro:content'
import Project from '@components/Project.astro'
import Section from '@components/Section.astro'
import SectionTitle from '@components/SectionTitle.astro'

const projects = await getCollection('projects')
---

<Section>
  <SectionTitle>Proyectos</SectionTitle>
  <ul class="flex flex-col gap-5">
    {
      projects.map((project) => (
        <Project
          status={project.data.status}
          tags={project.data.tags}
          link={project.data.url}
        >
          {project.data.title}
        </Project>
      ))
    }
  </ul>
</Section>
