---
type Props = {
  status?: ProjectStatus
  type?: ProjectType
  link?: string
}

export enum ProjectStatus {
  wip = 'work-in-progress',
  dead = 'dead',
  live = 'live',
  unknown = 'unknown',
}

export enum ProjectType {
  website = 'website',
  poc = 'proof-of-concept',
}

const { link, status = ProjectStatus.unknown, type } = Astro.props

const getStatusColor = (status: ProjectStatus) => {
  switch (status) {
    case ProjectStatus.live:
      return 'text-not-green'
    case ProjectStatus.unknown:
      return 'text-gray-100'
    case ProjectStatus.wip:
      return 'text-not-yellow'
    case ProjectStatus.dead:
      return 'text-not-pink'
  }
}
---

<li class="border border-not-gray">
  <a class="p-4 @a:box @list-item" href={link} target="_blank">
    <span
      class:list={[
        getStatusColor(status),
        '@pseudo:brackets @pseudo:bold:not-blue',
      ]}>{status}</span
    >
    <span><slot /></span>
    {type && <span class="text-not-blue">|</span>}
    {type && <span>{type}</span>}
  </a>
</li>
