---
import {} from 'astro:content'
type Status = 'wip' | 'live' | 'dead'
type Props = {
  status: Status
  tags?: string[]
  link?: string
}

const { link, status, tags } = Astro.props

const getStatusColor = (status: Status) => {
  switch (status) {
    case 'live':
      return 'text-not-green'
    case 'wip':
      return 'text-not-yellow'
    case 'dead':
      return 'text-not-pink'
  }
}
---

<li class="border border-not-gray">
  <a
    class="p-4 @a:box @list-item flex gap-1 justify-start items-center"
    href={link}
    target="_blank"
  >
    <span
      class:list={[
        getStatusColor(status),
        '@pseudo:brackets @pseudo:bold:not-blue',
      ]}>{status}</span
    >
    <span class="flex-shrink-0"><slot /></span>
    {tags && <span class="text-not-blue">|</span>}
    {tags && <span>{tags.join(', ')}</span>}
  </a>
</li>
