---
import { Terminal } from 'lucide-solid'

export type SectionTitleProps = {
  extraClass?: string
}

const { extraClass } = Astro.props
---

<div class:list={['flex flex-row items-center space-x-2 w-full', extraClass]}>
  <Terminal size={18} strokeWidth="3" class="text-not-blue text-opacity-50" />
  <h1 class="text-not-blue font-black text-xl lowercase"><slot /></h1>
</div>
