---
import {
  Github,
  Instagram,
  Linkedin,
  Twitch,
  Twitter,
  Youtube,
} from 'lucide-react'
---

<ul class="flex flex-row flex-wrap gap-3">
  <li>
    <a class="text-not-blue hover:text-twitter active:text-twitter" href="">
      <Twitter strokeWidth={1} />
    </a>
  </li>
  <li>
    <a class="text-not-blue hover:text-github active:text-github" href="">
      <Github strokeWidth={1} />
    </a>
  </li>
  <li>
    <a class="text-not-blue hover:text-twitch active:text-twitch" href="">
      <Twitch strokeWidth={1} />
    </a>
  </li>
  <li>
    <a class="text-not-blue hover:text-youtube active:text-youtube" href="">
      <Youtube strokeWidth={1} />
    </a>
  </li>
  <li>
    <a class="text-not-blue hover:text-instagram active:text-instagram" href="">
      <Instagram strokeWidth={1} />
    </a>
  </li>
  <li>
    <a class="text-not-blue hover:text-linkedin active:text-linkedin" href="">
      <Linkedin strokeWidth={1} />
    </a>
  </li>
</ul>
