---
import Callout from '@components/Callout.astro'
import Section from '@components/section/Section.astro'
import SectionTitle from '@components/section/SectionTitle.astro'
import { Content as Intro } from '@content/intro.md'
---

<Section>
  <SectionTitle>Intro</SectionTitle>
  <div>
    <Intro />
    <Callout>
      <span>
        Si necesitas ponerte en contacto conmigo, puedes hacerlo via
        <a href="">twitter</a>📥.
      </span>
    </Callout>
  </div>
</Section>
